body {
    box-sizing: border-box;
    margin: 0;
}


h2 {
  text-decoration: underline;
}

grid-container {
  display: grid;
  row-gap: 10px;
  text-align: center;
  font-size: 2vw;
}

p1 {
  background-color: #000000;
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 30px;
}

/*Graphical component 2 "image1" & 3 "image3" styling*/
img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

image1 {
  background-color: #000000;
  filter: grayscale(100%);
}
/*End of graphical component 2 "image1" styling*/  

image3 {
  background-color: #95B8D1;
}
/*End of graphical component 3 "image3" styling*/

  p2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    padding: 30px;
  }

  p3 {
    background-color: #95B8D1;
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 3;
    padding: 30px;
    }


image4 {
  margin: auto;
}

  p4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    padding: 30px;
  }

