body {
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

h2 {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    row-gap: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5vw;
  }
  
  .item1 {
    background-color: #000000;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item2 {
    background-color: #000000;
    
  }

  .item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
  }

  .item5 {
    background-color: #95B8D1;
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 3;
    }

  .item6 {
    background-color: #95B8D1;
  }

  .item8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
  }

