body {
    margin: 0;
}

img {
    display: flex;
    border: 5px solid #000000;
    border-radius: 4px;
    padding: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

p1 {
    display: flex;
    background-color: #000000;
    color:white;
    border: 5px solid #95B8D1;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}

p {
    font-family:'Courier New', Courier, monospace;
    border: 5px solid #95B8D1;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size:x-large;
}