/*#footer {
    position: fixed;
    overflow: hidden;
    background-color: #95B8D1;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    height: 30px;
    padding: 30px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}
*/

#footer {

  background-color: #95B8D1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.social-icon {
  color: white;
  font-size: x-large;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 10px;
}
.social-icon:hover {
  color:#111;
}

body {
  min-height: 100vh;
}