img {
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 10px gray;
    width: 70%;
    max-width: 350px;
    height: auto;
    max-height: 400px;
   }

h1 {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

h2 {
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
}

.black {
    background-color: #000000;
    color:white;
    padding: 30px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
  }

.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
  color: #white;
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(0.75rem, 1.5vw, 2.5rem);
  padding: 0.1em;
  }
